# Estender um DataFrame - várias colunas ao mesmo tempo

In [1]:
import numpy as np
import pandas as pd

Vamos primeiro criar um dataframe simples para usarmos como exemplo

In [2]:
colunas = list("ABCDE")

In [3]:
colunas

['A', 'B', 'C', 'D', 'E']

In [4]:
matriz  = np.random.randn(4,5) # a função *randn* gera números distribuídos conforme uma normal

In [5]:
matriz

array([[-1.45482371, -1.6632692 ,  2.03371687,  1.25321875,  0.08843708],
       [-1.11296637, -2.23279793, -1.43774462, -0.46873404,  1.29056116],
       [ 0.05771814,  0.11418554, -0.38756922,  0.74262325, -0.86868455],
       [ 0.96394115,  1.34666005, -1.25336067, -0.11702625, -0.0088835 ]])

In [6]:
dados = pd.DataFrame(columns=colunas, data=matriz)

In [7]:
dados

          A         B         C         D         E
0 -1.454824 -1.663269  2.033717  1.253219  0.088437
1 -1.112966 -2.232798 -1.437745 -0.468734  1.290561
2  0.057718  0.114186 -0.387569  0.742623 -0.868685
3  0.963941  1.346660 -1.253361 -0.117026 -0.008884

Agora que temos o dataframe `dados` mostrado acima, vamos estendê-lo. Adicionar uma coluna é fácil

In [8]:
dados["F"] = np.random.randn(4)

In [9]:
dados

          A         B         C         D         E         F
0 -1.454824 -1.663269  2.033717  1.253219  0.088437 -1.001423
1 -1.112966 -2.232798 -1.437745 -0.468734  1.290561  1.057389
2  0.057718  0.114186 -0.387569  0.742623 -0.868685  1.859808
3  0.963941  1.346660 -1.253361 -0.117026 -0.008884  2.002477

Poderíamos ainda estender o DataFrame adicionando valores constantes. Mas esta opção só pode ser usada para adicionar **uma coluna por vez**

In [10]:
dados["G"] = 0

In [11]:
dados

          A         B         C         D         E         F  G
0 -1.454824 -1.663269  2.033717  1.253219  0.088437 -1.001423  0
1 -1.112966 -2.232798 -1.437745 -0.468734  1.290561  1.057389  0
2  0.057718  0.114186 -0.387569  0.742623 -0.868685  1.859808  0
3  0.963941  1.346660 -1.253361 -0.117026 -0.008884  2.002477  0

## Adicionando mais de uma coluna ao mesmo tempo

Para poder adicionar mais de uma coluna por vez, a chave é criar um DataFrame vazio para inicializar as colunas

In [12]:
new_columns = list("HIJKL")

Nomes das colunas a serem adicionadas

In [13]:
new_columns

['H', 'I', 'J', 'K', 'L']

O que precisamos criar é uma matriz de zeros para preencher as novas colunas criadas.

Esta matriz precisa ter `len(new_columns)` de largura (número de colunas)  por `len(dados)` de altura (número de linhas)

In [14]:
np.zeros(shape=(len(dados), len(new_columns)))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [15]:
dados[new_columns] = pd.DataFrame(np.zeros(shape=(len(dados), len(new_columns))))

In [16]:
dados

,A,B,C,D,E,F,G,H,I,J,K,L
0,-1.454824,-1.663269,2.033717,1.253219,0.088437,-1.001423,0,0.0,0.0,0.0,0.0,0.0
1,-1.112966,-2.232798,-1.437745,-0.468734,1.290561,1.057389,0,0.0,0.0,0.0,0.0,0.0
2,0.057718,0.114186,-0.387569,0.742623,-0.868685,1.859808,0,0.0,0.0,0.0,0.0,0.0
3,0.963941,1.346660,-1.253361,-0.117026,-0.008884,2.002477,0,0.0,0.0,0.0,0.0,0.0