# Estender um DataFrame - várias colunas ao mesmo tempo

In [16]:
import numpy as np
import pandas as pd

Vamos primeiro criar um dataframe simples para usarmos como exemplo

In [3]:
colunas = list("ABCDE")

In [4]:
colunas

['A', 'B', 'C', 'D', 'E']

In [19]:
matriz  = np.random.randn(4,5) # a função *randn* gera números distribuídos conforme uma normal

In [14]:
matriz

array([[ 0.24811079, -0.995426  , -1.13801109,  0.50396141, -1.54120009],
       [-0.03768876, -0.75070638, -0.03972063, -1.65480786, -1.31375541],
       [ 0.19715971, -1.2832525 , -0.00835976, -2.40080117, -0.3632504 ],
       [-0.53230078,  0.72633025,  0.44382278, -0.50285394,  2.7090231 ]])

In [17]:
dados = pd.DataFrame(columns=colunas, data=matriz)

In [18]:
dados

          A         B         C         D         E
0  0.248111 -0.995426 -1.138011  0.503961 -1.541200
1 -0.037689 -0.750706 -0.039721 -1.654808 -1.313755
2  0.197160 -1.283253 -0.008360 -2.400801 -0.363250
3 -0.532301  0.726330  0.443823 -0.502854  2.709023

Agora que temos o dataframe `dados` mostrado acima, vamos estendê-lo. Adicionar uma coluna é fácil

In [20]:
dados["F"] = np.random.randn(4)

In [21]:
dados

          A         B         C         D         E         F
0  0.248111 -0.995426 -1.138011  0.503961 -1.541200 -0.155537
1 -0.037689 -0.750706 -0.039721 -1.654808 -1.313755  0.056595
2  0.197160 -1.283253 -0.008360 -2.400801 -0.363250  2.138502
3 -0.532301  0.726330  0.443823 -0.502854  2.709023  3.268589

Poderíamos ainda estender o DataFrame adicionando valores constantes. Mas esta opção só pode ser usada para adicionar **uma coluna por vez**

In [22]:
dados["G"] = 0

In [23]:
dados

          A         B         C         D         E         F  G
0  0.248111 -0.995426 -1.138011  0.503961 -1.541200 -0.155537  0
1 -0.037689 -0.750706 -0.039721 -1.654808 -1.313755  0.056595  0
2  0.197160 -1.283253 -0.008360 -2.400801 -0.363250  2.138502  0
3 -0.532301  0.726330  0.443823 -0.502854  2.709023  3.268589  0

## Adicionando mais de uma coluna ao mesmo tempo

Para poder adicionar mais de uma coluna por vez, a chave é criar um DataFrame vazio para inicializar as colunas

In [36]:
new_columns = list("HIJKL")

Nomes das colunas a serem adicionadas

In [37]:
new_columns

['H', 'I', 'J', 'K', 'L']

O que precisamos criar é uma matriz de zeros para preencher as novas colunas criadas.

Esta matriz precisa ter `len(new_columns)` de largura (número de colunas)  por `len(dados)` de altura (número de linhas)

In [44]:
np.zeros(shape=(len(new_columns), len(dados)))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [45]:
dados[new_columns] = pd.DataFrame(np.zeros(shape=(len(dados), len(new_columns))))

In [46]:
dados

,A,B,C,D,E,F,G,H,I,J,K,L
0,0.248111,-0.995426,-1.138011,0.503961,-1.541200,0,0,0.0,0.0,0.0,0.0,0.0
1,-0.037689,-0.750706,-0.039721,-1.654808,-1.313755,0,0,0.0,0.0,0.0,0.0,0.0
2,0.197160,-1.283253,-0.008360,-2.400801,-0.363250,0,0,0.0,0.0,0.0,0.0,0.0
3,-0.532301,0.726330,0.443823,-0.502854,2.709023,0,0,0.0,0.0,0.0,0.0,0.0